# Global (Do not commit anywhere)
#----------------------------------------------------------------------
*.old
*.sql
*.exe
*.zip
*.webp
.lock
.env
*.env
*.bkp
*.log
.old
tasks*.inf
/old/
/log/
/tmp/
/vendor/
/library/
/.idea/
/jsHunter/
/node_modules/

# Framework (Comment when branch is not framework)
#----------------------------------------------------------------------
/bin/
composer.lock
package-lock.json
[^composer]*.json

# Engine (Comment when branc is not engine)
#----------------------------------------------------------------------
#api/
#app/
#test/
#videos/
#resources/
#downloads/
#views.txt
#index.php
#.htaccess
#test.php
