node_modules/
vendor/
library/
.idea/
jsHunter/
old/
videos/
api/
app/
resources/
downloads/
test
*old*
tasks*.inf
.htaccess
index.php
package-lock.json
composer.lock
tmp
*.sql
*.exe
*.zip
*.webp
views.txt
.lock
.env
*.env
*.bkp
*.old
*.log
[^composer]*.json
*.idea
.old
tasks.inf
/vendor/
/node_modules/
